{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "menu" }}
    {{ partial "menu.html" }}
{{ end }}
{{ define "main" }}
  {{ $thisPage := .Page }}
  <h1 style="text-align: center;" class="shadowText">{{ .Title }}</h1> 
  {{ $imgBar := resources.Get "images/design/decorated.jpg" }}
  <div style="height:10px;background-image:url('{{ $imgBar.Permalink }}')"></div>
  
  {{ $params := .Params }}
  {{ $sectionDelimiter := "<!-- ### -->"}}
  {{ $sectionsContents := split .RawContent $sectionDelimiter }}
  <div style="align-content: center; width: 90%; max-width: 1250px; margin:auto;">
    <p>{{ index $sectionsContents 0 | .RenderString }}</p>
  </div>

  <div class="container">
    <div style="flex: 0 0; text-align: center;">
    {{ with .Params.image2 }}
        {{ if (fileExists (printf "assets/images/classes/%s" .)) }}
          {{ $img := resources.Get (printf "images/classes/%s" .) }}
            <img src="{{ $img.Permalink }}" alt="{{ $params.title }}" style="max-width: 400px; max-height: 600px;" />
          {{ else }}
            {{ . }}
        {{ end }}
      {{end}}    
    </div>
    {{ range $index, $element := $sectionsContents }}
      {{ if in $element "<!-- traits -->" }}      
      <div class="fancyBorders" style="flex: 1 1;">
        <p>{{ $element | markdownify }}</p>
      </div>    
      {{ end }}
    {{ end }}
  </div>

  <div style="height:10px;background-image:url('{{ $imgBar.Permalink }}')"></div>

  {{ range $index, $element := $sectionsContents }}
    {{ if in $element "<!-- features -->" }}      
      <div class="fancyBorders" style="display: inline-block"> <!-- style="float: left; margin-right: 25px;" -->
        <p>{{ $element | markdownify }}</p>
      </div>    
      {{ end }}
  {{ end }}

  <div style="height:10px;background-image:url('{{ $imgBar.Permalink }}')"></div>

  <div class="container" style="align-items: flex-start">
  {{ range $index, $element := $sectionsContents }}
    {{ if in $element "<!-- subclasses -->" }}
      {{ $thisPage.Store.Set "element" $element }}
      {{ partial "subclass.html" (dict "context" . "Page" $thisPage) }}      
    {{ end }}
  {{ end }}
  </div>

{{ end }}