div.portrait img {
    max-height: 300px; 
}
div.left {
    padding-right: 10px; 
    float: left;  
}
div.right {
    padding-left: 10px;
    float: right;
}
div.link {
    width: 33%;
    float: left;
    text-align: center;
}