
.bgbutton {
    background: url('/images/design/button2.gif') no-repeat top left; 
    padding-bottom : 2px;
    padding-top : 2px;
    padding-left : 10px;
    padding-right:  80%; 
    border : none;
    color: #000000; 
    font-weight: bold;
}
    