$text-color: #FFF;
$background-color: #000000 ;

html {
	background-color: #000000 !important;
	color: #C0C0C0;
	font-size: 12pt;
}

body {
	background-color: #000000 ;
	color: #C0C0C0;
	font-size: 12pt;
}

a.rl {	color : #CD1418 ;
    font-family: BlackChancery, DickensScriptSSK ; 
    font-size: 12pt;
}
a:hover { color: #FF0000 ; }
a:visited { color: #A22222 ; }

p {
  max-width: 100% !important;
  color: #C0C0C0;
}

p.center {
  text-align: center;
}

p.notop {
  margin-top: 0;
}

.title {
	font-family: Morpheus, Lucida Blackletter ;
	font-size: 15pt ;
	color: #A22222 ;	
}

.subtitle {
	font-family: Black Chancery ;
	font-size: 15pt;
	color : #FFFFFF ;
}

div, li {
  color: #C0C0C0;
}

.brief {
	font-family: Lombardic, Morpheus, Lucida Blackletter ;
	font-size : 12pt ;
	font-style : italic;
	color: #FFFFFF ;	
}

.capital {
	font-family: Carrick ;
	font-size: 20pt ;
	color: #A22222 ;	
}

.text {
	color: #C0C0C0 ;
	font-size : 12pt ;
}

.button {
	  background: url('../assets/images/design/button1.gif') no-repeat top left; 
    padding-bottom : 2px;
    padding-top : 2px;
    padding-left : 10px;
    padding-right:  80px; 
    border : none;
    color: #CCCCCC; 
    font-weight: bold;
}

.imgborder1 { background: url('../assets/images/design/paper01.jpg') center center; width:  80px ; height: 60px ; }
.imgborder2 { background: url('../assets/images/design/paper02.jpg') repeat-x center left; height: 60px ; }
.imgborder3 { background: url('../assets/images/design/paper03.jpg') center center; width:  80px ; height: 60px ; }
.imgborder4 { background: url('../assets/images/design/paper04.jpg') repeat-y bottom center; width:  80px ; }

.imgborder5 { background: url('../assets/images/design/paper05.jpg'); }

.imgborder6 { background: url('../assets/images/design/paper06.jpg') repeat-y bottom center; width:  80px ; }
.imgborder7 { background: url('../assets/images/design/paper07.jpg') center center; width:  80px ; height: 60px ; }
.imgborder8 { background: url('../assets/images/design/paper08.jpg') repeat-x center left; height: 60px ; }
.imgborder9 { background: url('../assets/images/design/paper09.jpg') center center; width:  80px ; height: 60px ; }

.ui-selecting { background: #2F2F2F; }
.ui-selected { background: #990000; color: white; }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: space-between;
    align-items: stretch;
	  width: 90%;
    max-width: 1250px;
    margin-right: auto;  
    margin-left: auto;  
    list-style: none;
}

table.stats tr th, table.stats tr td {
	align-content: center;
	text-align: center;
	margin: auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

table.border {
  border-style: groove;
  border-width: medium;
}

table.border tr th, table.border tr td {
  border: 1px solid;
}

table.nobreak, table.nobreak tr th, table.nobreak tr td {
  break-inside: avoid-column;
}

table.innerBorder {
  border: 1px solid grey;
}

table.innerBorder th {
  border: 1px solid grey;
}

table.innerBorder td {
  border: 1px solid grey;
}

table.center {
  margin: auto auto;
}

table.center th, table.center td {
  align-items: center;
  align-content: center;
  text-align: center;
}

table.lvlTableCell tr td { min-width: 2em; }

div.center {
  text-align: center;
}

div.col3 {
  flex-basis: 20%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: block;
}

div.col4 {
  flex-basis: 30%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: block;
}

div.col6 {
    flex-basis: 45%;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
	  display: block;
 }

div.colfull {
  flex-basis: 95%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: block;
}

div.fancyBorders {
  padding: 20px; 
	color: black;
  background-color: lightgray;
  border-radius: 25px; 
  border-width: 20px;
  border-style: solid;
  {{ $borderImg := resources.Get "images/design/border_simple.png" }} 
  border-image-source: url( {{ $borderImg.Permalink }} );
  border-image-slice: 25;
  border-image-width: 20px;
  margin: 10px;
}

div.fancyBorders h3:first-child {
    margin-block-start: 0em;
}

div.fancyBorders p {
	color: black;
}

div.fancyBorders li {
	color: black;
}

img.archetypeIcon {
	  width: 300px;
}

span.red {
  color: #990000;
}